@{
    ViewData["Title"] = "O mnie";
}
<div class="text-center">
    <h1 class="display-4">O mnnie</h1>
    <p style="text-align: left">
        
    </p>
    <img src="Images/generic-background-crowd.png" alt="Sample Photo" />
    <p>Dowiedz się więcej...<a href="https://docs.microsoft.com/aspnet/core">Zbudowano przy użyciu ASP.NET Core</a>.</p>
</div>