@{
    ViewData["Title"] = "O mnie";
}

<div class="text-center">
    <h1 class="display-4">O mnnie</h1>
    <p style="text-align: left">
        <h2>Mam na imię Marek.</h2><br/>
        Niniejszą stronę wykonałem na potrzeby zajęć z Programowania Zaawansowanego w czasie studiów na Wyższej Szkole Bankowej w Chorzowie.<br/>

    </p>
    <img src="https://images.twinkl.co.uk/tr/image/upload/illustation/generic-background-crowd.png" />
    <p>Dowiedz się więcej...<a href="https://docs.microsoft.com/aspnet/core">Zbudowano przy użyciu ASP.NET Core</a>.</p>
</div>
