@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Zadanie 1</h1>
    <p style="text-align: left">
        Napisać stronę z następującymi zakładkami:<br />
        O mnie (może być postać fikcyjna), gdzie będą jakieś obrazki i ładnie sformatowane wyjście.<br />
        Tabela 1 - lista wygenerowana w podobny sposób jak na w przykładzie GitHub - można przyjąć dowolną listę (oczywiście tytuł podstrony ma być zgodny z nazwą produktu, rekordu)<br />
        Tabela 2 - lista wygenerowana w podobny sposób jak na w przykładzie GitHub - można przyjąć dowolną listę (ale różną od listy 1, oczywiście tytuł podstrony ma być zgodny z nazwą produktu, rekordu).<br />
        W edycji rekordu dla Tabela 1  oraz dla Tabela 2 zawrzeć możliwość walidacji danych - np. data urodzenia, albo jakaś wielkość numeryczna (na ten temat proszę poczytać sobie w dokumencie, który jest w repo na GitHub).<br />
        Strona powinna być całkowicie po polsku, ale kod po angielsku.<br />
        Dostarczyć rozwiązanie w ZIP, lub link do repo w Github.<br />
    </p>
    <p>Dowiedz się więcej...<a href="https://docs.microsoft.com/aspnet/core">Zbudowano przy użyciu ASP.NET Core</a>.</p>
</div>
