@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>
<h2>Informacje o plikach cookies</h2>
    <p>Tutaj podaje się informacje o przechwoywanych i wykorzystywanych plikach cookies</p>
<h2>RODO</h2>
    <p>Informacja o przechowywaniu i przetwarzaniu danych osobowych</p>
<p>Use this page to detail your site's privacy policy.</p>
